Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
numpy==1.26.4
numpydoc==1.7.0
openpyxl==3.1.2
pandas==2.2.2
pandas-profiling==3.2.0
pdfplumber==0.11.7
PyPDF2==3.0.1
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
Werkzeug==2.3.7

